
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        /* background-image: url("../images/bg_login.jpg"); */
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
       }
    
    .bg-light {
        background-color: #ffffff!important;
        box-shadow: 0px 2px 5px 0px !important;
        padding-left: 100px;
        padding-right: 15px;
        height: 14vh;
        border-bottom: 3px solid #37bcce;
    }
    
    .btn-primary {
        background-color: #64cedb;
        border-color: #64cedb;
        box-shadow: 0px 2px 2px 0px #198754;
    }
    
    .btn-primary:hover {
        background-color: #37bcce;
        border-color: #64cedb;
    
    }

    .btn.btn-secondary {
        box-shadow: 0px 2px 2px 0px #292b2a;
    }
    
    .home-text {
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: -7em;
        color: white;
        -webkit-text-stroke-width: 0px;
        text-shadow:
         0px 0px 1px #000;
    }

    .card.box-booking {
        position: relative;
        display: block;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #cccccc;
        border-radius: .25rem;
        top: -10em;
        box-shadow: 0px 2px 5px 0px #cccccc;
        margin: 0;
        padding: 0;
    }
    .card-room-list {
        box-shadow: 0px 1px 1px 0px #cccccc;
        padding-top: 5px #ccc;
    }

    .img-thumbnail {
        margin-top: 0;
        padding: .25rem;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        max-width: 100%;
        height: auto;
    }

    .card-room-list:hover {
        box-shadow: 0px 0px 10px 2px #cccccc;
        opacity: 0.8;
        transform: 2s;
        cursor: pointer;
    }

    .footer.fixed-bottom{
        background: #000;
        color: white;
        font-size: 15px;
        height: 50px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        /* background-image: url("../images/bg_login.jpg"); */
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
       }
    
    .bg-light {
        background-color: #ffffff!important;
        box-shadow: 0px 2px 5px 0px !important;
        padding-left: 100px;
        padding-right: 15px;
        height: 14vh;
        border-bottom: 3px solid #37bcce;
    }
    
    .btn-primary {
        background-color: #64cedb;
        border-color: #64cedb;
        box-shadow: 0px 2px 2px 0px #198754;
    }
    
    .btn-primary:hover {
        background-color: #37bcce;
        border-color: #64cedb;
    
    }

    .btn.btn-secondary {
        box-shadow: 0px 2px 2px 0px #292b2a;
    }
    
    .home-text {
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: -7em;
        color: white;
        -webkit-text-stroke-width: 0px;
        text-shadow:
         0px 0px 1px #000;
    }

    .card.box-booking {
        position: relative;
        display: block;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #cccccc;
        border-radius: .25rem;
        top: -10em;
        box-shadow: 0px 2px 5px 0px #cccccc;
        margin: 0;
        padding: 0;
    }
    .card-room-list {
        box-shadow: 0px 1px 1px 0px #cccccc;
        padding-top: 5px #ccc;
    }

    .img-thumbnail {
        margin-top: 0;
        padding: .25rem;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        max-width: 100%;
        height: auto;
    }

    .card-room-list:hover {
        box-shadow: 0px 0px 10px 2px #cccccc;
        opacity: 0.8;
        transform: 2s;
        cursor: pointer;
    }

    .footer.fixed-bottom{
        background: #000;
        color: white;
        font-size: 15px;
        height: 50px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        /* background-image: url("../images/bg_login.jpg"); */
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
       }
    
    .bg-light {
        background-color: #ffffff!important;
        box-shadow: 0px 2px 5px 0px !important;
        padding-left: 100px;
        padding-right: 15px;
        height: 14vh;
        border-bottom: 3px solid #37bcce;
    }
    
    .btn-primary {
        background-color: #64cedb;
        border-color: #64cedb;
        box-shadow: 0px 2px 2px 0px #198754;
    }
    
    .btn-primary:hover {
        background-color: #37bcce;
        border-color: #64cedb;
    
    }

    .btn.btn-secondary {
        box-shadow: 0px 2px 2px 0px #292b2a;
    }
    
    .home-text {
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: -7em;
        color: white;
        -webkit-text-stroke-width: 0px;
        text-shadow:
         0px 0px 1px #000;
    }

    .card.box-booking {
        position: relative;
        display: block;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #cccccc;
        border-radius: .25rem;
        top: -10em;
        box-shadow: 0px 2px 5px 0px #cccccc;
        margin: 0;
        padding: 0;
    }
    .card-room-list {
        box-shadow: 0px 1px 1px 0px #cccccc;
        padding-top: 5px #ccc;
    }

    .img-thumbnail {
        margin-top: 0;
        padding: .25rem;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        max-width: 100%;
        height: auto;
    }

    .card-room-list:hover {
        box-shadow: 0px 0px 10px 2px #cccccc;
        opacity: 0.8;
        transform: 2s;
        cursor: pointer;
    }

    .footer.fixed-bottom{
        background: #000;
        color: white;
        font-size: 15px;
        height: 50px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        /* background-image: url("../images/bg_login.jpg"); */
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
       }
    
    .bg-light {
        background-color: #ffffff!important;
        box-shadow: 0px 2px 5px 0px !important;
        padding-left: 100px;
        padding-right: 15px;
        height: 14vh;
        border-bottom: 3px solid #37bcce;
    }
    
    .btn-primary {
        background-color: #64cedb;
        border-color: #64cedb;
        box-shadow: 0px 2px 2px 0px #198754;
    }
    
    .btn-primary:hover {
        background-color: #37bcce;
        border-color: #64cedb;
    
    }

    .btn.btn-secondary {
        box-shadow: 0px 2px 2px 0px #292b2a;
    }
    
    .home-text {
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: -7em;
        color: white;
        -webkit-text-stroke-width: 0px;
        text-shadow:
         0px 0px 1px #000;
    }

    .card.box-booking {
        position: relative;
        display: block;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #cccccc;
        border-radius: .25rem;
        top: -10em;
        box-shadow: 0px 2px 5px 0px #cccccc;
        margin: 0;
        padding: 0;
    }
    .card-room-list {
        box-shadow: 0px 1px 1px 0px #cccccc;
        padding-top: 5px #ccc;
    }

    .img-thumbnail {
        margin-top: 0;
        padding: .25rem;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        max-width: 100%;
        height: auto;
    }

    .card-room-list:hover {
        box-shadow: 0px 0px 10px 2px #cccccc;
        opacity: 0.8;
        transform: 2s;
        cursor: pointer;
    }

    .footer.fixed-bottom{
        background: #000;
        color: white;
        font-size: 15px;
        height: 50px;
    }
}